<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>


<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'">
    <div class="sidenav-header">
      <a routerLink="/"><h5>Hello world!</h5></a>
    </div>
  </mat-sidenav>

  <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
    <button type="button" mat-button (click)="sidenav.open()">
      Toggle sidenav when display is block
    </button>
  </div>

  <router-outlet></router-outlet>

</mat-sidenav-container> -->
